apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: mug-ingress
  namespace: mug
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: mug-controller
    nginx.ingress.kubernetes.io/force-ssl-redirect": false
    nginx.ingress.kubernetes.io/ssl-redirect": false
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: mug-backend-service
          servicePort: 80